.teste {
    color: aqua;
}
.header{
    position: fixed; 
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: rgba(247, 255, 1, 0.603);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.488);
            display: flex;
            align-items: center;
            padding: 0 20px;
            z-index: 1000;

}

.conteiner{
    padding-top: 90px; /* para compensar o header fixo */
            padding: 20px;
}

.imagem{
    height: 60px;
    margin-left: 20px;
}